<div>
    <div>
        <div class="header">
            <div>
                <h1>Music App</h1>
            </div>
            <div class="agregarListabtn">
                <button class="button" (click)="abrirModal()">Agregar Lista</button>
            </div>
        </div>

    </div>
</div>
<app-mostrar-listas></app-mostrar-listas>
<div *ngIf="openModal" class="modal-overlay">
    <div class="modal-content">
        <div class="header-modal">
          <h1>Agregar Lista de Reproduccion</h1>
        </div>
        <div class="contenido">
            <div class="divs-inputs">
                <input type="text" class="input" placeholder="Nombre de la lista">
            </div>
            <div class="divs-inputs">
                <input type="text" class="input" placeholder="Descripcion">
            </div>
            <div>
                <button class="button-seleccionar">seleccionar canciones</button>
            </div>

        </div>
        <div class="cerrar-modal">
            <button class="button-cerrar-modal">Agregar</button>
            <button class="button-cerrar-modal" (click)="cerrarModal()">Cerrar</button>
        </div>
    </div>
</div>